@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    background-color: #e6e6e6;

    overflow-x: hidden !important;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    display: grid;
    grid-template-columns: 1fr 1344px 1fr;
    grid-column-start: 2;

}

#navBar {
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
    justify-content: center;
    align-items: center;
}

aside {
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
    align-items: center;
    justify-content: center;
    top: 0;
    right: auto;
    position: fixed;
    background-color: #e6e6e6;
    z-index: 99;
}

#navBar #petitLogo {
    padding-left: 5%;
    width: 150px;
    height: 50px;

}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    display: grid;
    text-align: center;
}

#reservation {
    background-color: #000;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 6px;
}

#reservation:hover {
    background-color: #252525;

}

a {
    color: #000;
    text-decoration: none;
}

.navItem::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;

}

.navItem:hover::after {
    transform: scale(1);
}

#Home {
    display: grid;
    align-items: center;
    justify-items: center;
}

#Home #logo {
    width: 100%;
    margin-bottom: 50%;
}

.rotateRight {
    position: absolute;
    transform: rotate(90deg);
    right: 20px;
    bottom: 60px;
    color: #5e5e5e;
}


.rotateLeft {
    width: 20px !important;
    color: #5e5e5e !important;
    position: fixed;
    left: 15px;
    bottom: 50px;
    z-index: 0;
}

.rotateLeftFb {
    width: 20px !important;
    color: #5e5e5e !important;
    position: fixed;
    left: 15px;
    bottom: 80px;
    z-index: 0;
}

.lineRight {
    border-bottom: 1px solid #5e5e5e;
    width: 40px;
    height: 2px;
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.lineLeft {
    border-bottom: 1px solid #5e5e5e;
    width: 40px;
    height: 2px;
    transform: rotate(90deg);
    position: fixed;
    left: 6px;
    bottom: 20px;
    z-index: 0;
}

.apparition {
    opacity: 1;
    transition: 1s;
}

h2 {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000a4;
}

article:not(#Home) {
    margin-top: 25%;
}

#Apropos div {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

#Apropos div div {
    display: grid;
    grid-template-rows: 1fr 120px;
    grid-template-columns: 1fr;
    justify-items: center;
}

#Apropos div p {
    font-size: medium;
}

#Apropos div h3 {
    text-decoration: wavy;
    font-style: italic;
}

#listeServices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

#Services a :hover {
    background-color: #5e5e5e;
}

.prix {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d6d5d5;
    border-radius: 20px;
    margin-top: 30px;
}

#Localisation {
    margin-bottom: 100px;
}

#Localisation section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;

}

#Localisation a {
    text-align: center;
    display: flex;
}


main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

main #Services article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#Services article div {
    margin-left: 10px;
    margin-right: 10px;
}

.scrolloff {
    pointer-events: none;
}

#burger {
    height: 40px;
    width: 40px;
    background-image: url(img/menu.svg);
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#camion {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

footer div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}


@media screen and (max-width: 1344px) {
    body {
        grid-template-columns: 1fr 1000px 1fr;
    }

    #navBar {
        grid-template-columns: 1fr 800px 1fr;
    }

    aside {
        grid-template-columns: 1fr 800px 1fr;
    }

    main article:not(#Home) {
        grid-template-columns: 200px 1fr;
    }

    main #Services,
    main #Contact {
        grid-template-columns: 1fr 200px !important;
    }




}

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
    }

    #navBar {
        grid-template-columns: 1fr;
    }

    aside {
        grid-template-columns: 1fr 40px;
        gap: 5px;
        align-items: flex-start;
        top: 0;
        right: 0;
        left: 0;
        justify-content: center;
    }

    nav {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        right: 0;
        left: 0;
    }

    #reseaux {
        display: none;
    }

    #burger {
        display: block;
        padding-top: 10px
    }




}